<%- title "PrettyCrappy | Register" %>
<% meta description: "PrettyCrappy Register Section", keywords: %w(regiter sign up)%>

<div class="row">
	<div class="main-container">
		<div class="col col-md-8 col-sm-9 col-xs-9 no-padding">
			<!--INVALID FORM INPUTS HANDLING -->
			<% if @user.errors.any? %>
			  <div class="alert alert-danger">
			    <ul>
			    <% @user.errors.full_messages.each do |msg| %>
			      <li><%= msg %></li>
			    <% end %>
			    </ul>
			  </div>
			<% end %>

			<%=form_for @user do |f|%>
				<div class="posts-portion">
					<h1>Register!</h1>
					<div class="form-group">
						<%= f.label(:email, "E-mail", class: 'lbl' ) %>
						<%= f.text_field :email, class: "form-control input-lg", placeholder: "Type your email, we won't send you garbage ever" %>
					</div>

					<div class="form-group">
						<%= f.label(:username, "Username", class: 'lbl' ) %>
						<%= f.text_field :username, class: "form-control input-lg", placeholder: "Type your username" %>
					</div>

					<div class="form-group">
						<%= f.label(:password, "Password", class: 'lbl' ) %>
						<%= f.password_field :password, class: "form-control input-lg", placeholder: "Type your password" %>
					</div>

					<div class="form-group">
						<%= f.label(:sex, "Sex", class: 'lbl') %>
						<br> 
						<%= f.radio_button :sex, 'male'%>
						<%= label :sex_male, 'Male', class: 'lbl' %>
						<%= f.radio_button :sex, 'female'%>
						<%= label :sex_female, 'Female',  class: 'lbl' %>
						<%= f.radio_button :sex, 'other'%>
						<%= label :sex_other, 'Other',  class: 'lbl' %>
						
					</div>

					<div class="form-group separator">
						<%= f.label :humanizer_answer, @user.humanizer_question %>
						<%= f.text_field :humanizer_answer, placeholder: "Prove you're a human by answering" %>
						<%= f.hidden_field :humanizer_question_id %>
					</div>
					
					<%= f.submit "Register", class: "btn btn-lg btn-block btn-grey last" %>
				</div>
				
			<%end%>
		</div>
		<!-- PORTION WHERE THE ADS AND WIDGETS ARE LOCATED -->
				<div class="col col-md-4 col-sm-3 col-xs-3 no-padding">
					<div class="widgets-portion">

						<div class="widgets-upper">
							<%= render 'login_widget' %>
						</div>


						<div class="widgets-lower">
							<%= render 'categories_widget' %>
							<%= render 'social_widget' %>
						</div>
						
					</div>
				</div>
			</div>
		</div>

<div class="row lower">
	<div class="widgets-sm">
		<div class="widgets-footer-position">
			<div class="col-xs-4 user-lower no-padding">
				<%= render 'login_mini_widget' %>
			</div>

			<div class="col-xs-4 social-lower no-padding">
				<%= render 'social_widget' %>
			</div>

			<div class="col-xs-4 categories-lower no-padding">
				<%= render 'categories_widget' %>
			</div>
		</div>
	</div>
</div>
