
<ul class="categories"> 



  <li><%= link_to("Friends", posts_friendship_path , class: "nav_li")%> </li>
  <li><%= link_to("Love", posts_love_path , class: "nav_li")%></li>
  <li><%= link_to("Money", posts_money_path , class: "nav_li")%> </li>
  <li><%= link_to("School", posts_school_path , class: "nav_li")%></li>
  <li><%= link_to("Hot", posts_hot_path , class: "nav_li")%> </li>
  <li><%= link_to("Health", posts_health_path , class: "nav_li")%></li>
  <li><%= link_to("Family", posts_family_path , class: "nav_li")%> </li>
  <li><%= link_to("Work", posts_work_path , class: "nav_li")%></li>
  <li><%= link_to("Others", posts_others_path , class: "nav_li")%> </li>
  	
</ul>