



<div class="row">
	<div class="main-container">
		<div class="col-sm-8 no-padding">
			<%=form_for @post do |f|%>
				<div class="posts-portion ">
					<h1><%= form_title %></h1>
					<div class="form-group">
						<%= f.text_area :body, class: "form-control input-lg for-posts", placeholder: "Tell us your story! (max 700 characters)", maxlength: "700" %>
					</div>

				
					<%= f.submit form_title, class: "btn btn-lg btn-block btn-grey" %>
				</div>
			<%end%>
		</div>

		<!--SPACE FOR ADS AND WIDGETS-->
		<div class="col-sm-4 no-padding">
			<div class="widgets-portion">
				<div class="widgets-upper">
					<%= render 'login_widget' %>
				</div>

				<div class="widgets-lower">
					
				</div>
				
			</div>
		</div>
	</div>
	

	
</div>

