



<div class="row">
	<div class="main-container">
		<div class="col col-md-8 col-sm-9 col-xs-9 no-padding">
			<!--INVALID FORM INPUTS HANDLING -->
			<% if @post.errors.any? %>
			  <div class="alert alert-danger">
			    <ul>
			    <% @post.errors.full_messages.each do |msg| %>
			      <li><%= msg %></li>
			    <% end %>
			    </ul>
			  </div>
			<% end %>


			<%=form_for @post do |f|%>
				<div class="posts-portion ">
					<h1><%= form_title %></h1>
					<div class="form-group">
						<%= f.label(:alias, "Tell us your story!", class: 'lbl') %>
						<%= f.text_area :body, class: "form-control input-lg for-posts", placeholder: "(max 400 characters)", maxlength: "400" %>
					</div>

					<div class="form-group">
						<%= f.label "Category"%>
						<br>
						<%= f.collection_select(:category_id, Category.all, :id, :name, prompt: true) %>) %>
					</div>

				
					<%= f.submit form_title, class: "btn btn-lg btn-block btn-grey" %>

				</div>
				
			<%end%>
		</div>

<!-- PORTION WHERE THE ADS AND WIDGETS ARE LOCATED -->
		<div class="col col-md-4 col-sm-3 col-xs-3 no-padding">
			<div class="widgets-portion">

				<div class="widgets-upper">
					<%= render 'login_widget' %>
				</div>


				<div class="widgets-lower">
					<%= render 'categories_widget' %>
					<%= render 'social_widget' %>
				</div>
				
			</div>
		</div>
	</div>
</div>

<div class="row lower">
	<div class="widgets-sm">
		<div class="widgets-footer-position">
			<div class="col-xs-4 user-lower no-padding">
				<%= render 'login_mini_widget' %>
			</div>

			<div class="col-xs-4 social-lower no-padding">
				<%= render 'social_widget' %>
			</div>

			<div class="col-xs-4 categories-lower no-padding">
				<%= render 'categories_widget' %>
			</div>
		</div>
	</div>
</div>

