<%- title "PrettyCrappy | Funniest" %>
<% meta description: "PrettyCrappy posts, with the most funny votes", keywords: %w(funny votes posts)%>
<div class="row">

	<div class="main-container">
		<!-- PORTION WHERE ALL THE POSTS ARE CONTAINED -->
		<div class="col col-md-8 col-sm-9 col-xs-9 no-padding">

				<div class="posts-portion ">
					
					<div class="post-anon-disclaimer">
						<p>Why keep your disgraces to yourself when you can make others laugh? your disgrace may be another person's joy!</p>
						<p>You don't have to be registered in order to <%=link_to 'Post!', new_post_path %> or Vote!</p>
					</div>

					<% @funniest.each do |post| %>

						<%= link_to post, :class => "body-text" do%>
							<div class="post-container hyphenate">

								<div class="comment-tag">
									<p class="comment-count"><%= post.comments.count %></p>
								</div>

								<div class="post-info">
									<% if post.user.nil?  %>
						
										<p>Posted by <%= post.alias%> <span class="slash"> / </span> <%= post.sex %> <span class="slash"> / </span> <%=  category_name(post)  %> <span class="slash"> / </span> <%= post.created_at%></p>
									<%else%>
										
										<p>Posted by <%= post.user.username%> <span class="slash"> / </span> <%= post.user.sex.capitalize%> <span class="slash"> / </span> <%=  category_name(post)  %> <span class="slash"> / </span> <%= post.created_at%></p>
									<%end%>
								</div>

								<%= post.body %>
								
								

								<% if signed_in? && current_user.username == "admin" %>

									<%= link_to "[Edit]", edit_post_path(post) %>
									<%= link_to "[Delete]", post, method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %>
								<%end%>

								<div class="post-buttoms">

									<% if post.voted_by? current_user %>

									  	<%= link_to post_vote_path(post), method: :delete, class: "post-upvote upvote-active" do %>

										    <div class="btn btn-votes">
										    	<span class="upvote-count"><span class="glyphicon glyphicon-fire"></span>   Funny! (<%= post.votes.count %>) votes</span>
										    </div>
									    
									  	<% end %>

									<% else %>

									  <%= link_to post_vote_path(post), method: :post, class: "post-upvote" do %>

										    <div class="btn btn-votes">
										    	<span class="upvote-count"><span class="glyphicon glyphicon-fire"></span>   Funny! (<%= post.votes.count %>) votes</span>
										    </div>
									    
									  <% end %>

									<% end %>

									
									<% if post.deserved_by? current_user %>

									  	<%= link_to post_deserved_path(post), method: :delete, class: "post-upvote upvote-active" do %>

										    <div class="btn btn-deserved">
										    	<span class="upvote-count"><span class="glyphicon glyphicon-tint"></span>   Deserved! (<%= post.deserveds.count %>) votes</span>
										    </div>
									    
									  	<% end %>

									<% else %>

									  <%= link_to post_deserved_path(post), method: :post, class: "post-upvote" do %>

										    <div class="btn btn-deserved">
										    	<span class="upvote-count"><span class="glyphicon glyphicon-tint"></span>   Deserved! (<%= post.deserveds.count %>) votes</span>
										    </div>
									    
									  <% end %>

									<% end %>
									

									
									<%= link_to post, :class => "btn btn-comment" do%>
										<span><span class="glyphicon glyphicon-comment"></span>   Comment!</span>
									<%end%>
									
								</div>

							</div>
						<%end%>
					<%end%>
					<center><%= will_paginate @funniest, :previous_label => '←', :next_label => '→' , inner_window: 1, outer_window: 0 %></center>
				</div>
		</div>
		
		

		<!-- PORTION WHERE THE ADS AND WIDGETS ARE LOCATED -->
		<div class="col col-md-4 col-sm-3 col-xs-3 no-padding">
			<div class="widgets-portion">

				<div class="widgets-upper">
					<%= render 'login_widget' %>
				</div>


				<div class="widgets-lower">
					<%= render 'categories_widget' %>
					<%= render 'social_widget' %>
				</div>
				
			</div>
		</div>
	</div>
</div>

<div class="row lower">
	<div class="widgets-sm">
		<div class="widgets-footer-position">
			<div class="col-xs-4 user-lower no-padding">
				<%= render 'login_mini_widget' %>
			</div>

			<div class="col-xs-4 social-lower no-padding">
				<%= render 'social_widget' %>
			</div>

			<div class="col-xs-4 categories-lower no-padding">
				<%= render 'categories_widget' %>
			</div>
		</div>
	</div>
</div>


