<% if signed_in? %>
	<%= render 'form' %>
<%else%>
	



	<div class="row">
		<div class="main-container">
			<div class="col col-sm-8 no-padding">
				<!--INVALID FORM INPUTS HANDLING -->
				<% if @post.errors.any? %>
				  <div class="alert alert-danger">
				    <ul>
				    <% @post.errors.full_messages.each do |msg| %>
				      <li><%= msg %></li>
				    <% end %>
				    </ul>
				  </div>
				<% end %>


				<%=form_for @post do |f|%>
					<div class="posts-portion ">
						<h1><%= form_title %></h1>

						<div class="form-group">
							<%= f.label(:alias, "Post under this alias", class: 'lbl') %>
							<%= f.text_field :alias, class: "form-control input-lg separator", value: "Anonymous" %>
						</div>

						<div class="form-group">
							<%= f.label(:alias, "Tell us your story!", class: 'lbl') %>
							<%= f.text_area :body, class: "form-control input-lg for-posts", placeholder: "(max 400 characters)", maxlength: "400" %>
						</div>

						<div class="form-group">
							<%= f.label "Category"%>
							<br>
							<%= f.collection_select(:category_id, Category.all, :id, :name, prompt: true) %>
							
						</div>


						<div class="form-group separator">
							<%= f.label(:sex, "Sex", class: 'lbl') %>
							<br>
							<%= f.radio_button :sex, 'Male'%>
							<%= label :sex_male, 'Male', class: 'lbl' %>
							<%= f.radio_button :sex, 'Female'%>
							<%= label :sex_female, 'Female',  class: 'lbl' %>
							<%= f.radio_button :sex, 'Other'%>
							<%= label :sex_other, 'Other',  class: 'lbl' %>
						</div>

					
						<%= f.submit form_title, class: "btn btn-lg btn-block btn-grey" %>

					</div>
				<%end%>
			</div>

			<!--SPACE FOR ADS AND WIDGETS-->
			<div class="col col-sm-4 no-padding">
				<div class="widgets-portion">
					<div class="widgets-upper">
						<%= render 'login_widget' %>
					</div>

					<div class="widgets-lower">
						<%= render 'categories_widget' %>
					</div>
					
				</div>
			</div>
		</div>
		

		
	</div>


<%end%>
