



<div class="row">
	<div class="main-container">
		<div class="col-sm-8 no-padding">
			<div class="posts-portion ">
				
				<div class="post-container hyphenate">
					
					<div class="post-info">
						<% if @post.user.nil?  %>
	
							<p>Posted by <%= @post.alias%> <span class="slash"> / </span> <%= @post.sex.capitalize%> <span class="slash"> / </span> <%= @post.category %> <span class="slash"> / </span> <%= @post.created_at%></p>
							
						<%else%>
							
							<p>Posted by <%= @post.user.username%> <span class="slash"> / </span> <%= @post.user.sex.capitalize%> <span class="slash"> / </span> <%= @post.category %> <span class="slash"> / </span> <%= @post.created_at%></p>
						<%end%>
					</div>

					<%= @post.body %>
					
				</div>

				<div class="comments-section">
					<% @post.comments.reverse_order.each do |comment| %>
					  <div class="panel panel-default">
					    <header class="panel-heading"><img src="<%= Gravatar.new("#{comment.user.email}").image_url %>" class="img-circle" /> <b><%= comment.user.username %></b>  <b>Rank: </b></header>
					    <div class="panel-body"><%= comment.body %></div>
					  </div>
					<% end %>

					<% if signed_in? %>
					  <%= form_for [@post, @post.comments.build] do |f| %>
					    <div class="form-group">
					      <%= f.text_area :body, class: "form-control", placeholder: "Agregar comentario" %>
					    </div>

					    <div class="actions text-right">
					      <%= f.submit "Comment", class: "btn btn-orange" %>
					    </div>
					  <% end %>
					<% end %>
				</div>
				
			</div>

		</div>

		<!--SPACE FOR ADS AND WIDGETS-->
		<div class="col-sm-4 no-padding">
			<div class="widgets-portion">
				<div class="widgets-upper">
					<%= render 'login_widget' %>
				</div>

				<div class="widgets-lower">
					
				</div>
				
			</div>
		</div>
	</div>
	

	
</div>

