



<div class="row">
	<div class="main-container">
		<div class="col-sm-8 no-padding">
			<div class="posts-portion ">
				
				<div class="post-container hyphenate">
					<%= @post.body %>
				</div>
			</div>

			<% @post.comments.each do |comment| %>
			  <div class="panel panel-default">
			    <header class="panel-heading"><img src="<%= Gravatar.new("#{comment.user.email}").image_url %>" class="img-circle" /> <%= comment.user.username %></header>
			    <div class="panel-body"><%= comment.body %></div>
			  </div>
			<% end %>

			<% if signed_in? %>
			  <%= form_for [@post, @post.comments.build] do |f| %>
			    <div class="form-group">
			      <%= f.text_area :body, class: "form-control", placeholder: "Agregar comentario" %>
			    </div>

			    <div class="actions text-right">
			      <%= f.submit "Comentar", class: "btn btn-primary" %>
			    </div>
			  <% end %>
			<% end %>

		</div>

		<!--SPACE FOR ADS AND WIDGETS-->
		<div class="col-sm-4 no-padding">
			<div class="widgets-portion">
				<div class="widgets-upper">
					<%= render 'login_widget' %>
				</div>

				<div class="widgets-lower">
					
				</div>
				
			</div>
		</div>
	</div>
	

	
</div>

